*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-flex{
  margin-top: 68px;
  display: flex;
  /* padding: 50px; */
  justify-content: space-around;
  border-bottom: 2px solid #d0cdcd;
}
.navbar a{
  display: inline-block;
  /* font-weight: 600px;
  font-size: 32px;
  line-height: 30px;
  font-style:normal; */
  text-decoration: none;
  font-family: Camber-sb;
  /* margin:20px; */

}
.items{
  display: block;
  padding: 30px;
  margin: auto;
}
button{
  text-decoration: none;
  background-color: none;
  border: none;
}
a{
  cursor: pointer;
  margin: 0 30px;
}
.dialpad{
  margin-right: auto;
}
.item-container{
  display: flex;
  align-items: center;
  position: relative;
}
.d-icon--chevron-down{
  position: relative;
  top: 0.5em;
}
.sub-items{
  position:absolute;
  left:50%;
  top:100%;
  font-weight: bold;
  cursor: pointer;

}
ul>li{
  width:30vw;
}
.rotation{
  transform: rotate(180deg);
}